[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "custom/plugins/zsh-nodenv"]
	path = custom/plugins/zsh-nodenv
	url = https://github.com/mattberther/zsh-nodenv
